* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #2A2B47;
}
.sidebar {
    position: fixed;
    right: 0; 
    width: 250px;
    height: 100%;
    background-color: #2A2B47;
    padding-top: 20px;
}

.content {
    flex: 1;
    margin-left: 260px;
    padding: 2rem;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #111827;
    margin-bottom: 2rem;
}
.header {
    text-align: center;
    padding: 300px;
    background-image: url('AI-banner.png');
    background-size: cover;
    background-position: center;
}

.header h1 {
    font-size: 48px;
    margin: 0;
}

.header p {
    font-size: 24px;
}

.welcome-text {
    font-size: 36px;
    color: black;
}
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}